<!DOCTYPE html>

 <html>

   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <link rel="stylesheet" href="">
   </head>

   <body>

     <h1>Satisfaction Survey</h1>

   <fieldset>

     <legend>Question 6</legend>

       <p>Are you able to perform everyday activities? If not please let us know why.</p>

       <input type="checkbox" name="" value="YES">YES

       <input type="checkb
       ox" name="" value="NO">NO

       <p>Comments</p>
       <textarea name="Comments" rows="4" cols="50"></textarea>

   </fieldset>

     <button type="button">Next Question</button>

   </body>

   </html>
