<!DOCTYPE html>

 <html>

   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <link rel="stylesheet" href="">
   </head>

   <body>

     <h1>Satisfaction Survey</h1>

   <fieldset>

     <legend>Question 2</legend>

       <p>Please rate your confidence in this provider.</p>

       <p>On a scale of 1 to 5, where 1 represents least satisfied and 5 represents most satisfied, please check the appropriate box.</p>

       <input type="checkbox" name="" value="question1">1

       <input type="checkbox" name="" value="question1">2

       <input type="checkbox" name="" value="question1">3

       <input type="checkbox" name="" value="question1">4

       <input type="checkbox" name="" value="question1">5

   </fieldset>

     <button type="button">Next Question</button>

   </body>

   </html>
