<!DOCTYPE html>

 <html>

   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title></title>
     <link rel="stylesheet" href="">
   </head>

   <body>

     <h1>Satisfaction Survey</h1>

   <fieldset>

     <legend>Question 3</legend>

       <p>How much concern/interest did this care provider show for your questions or health concerns?</p>

       <p>On a scale of 1 to 5, where 1 represents least satisfied and 5 represents most satisfied, please check the appropriate box.</p>

       <input type="checkbox" name="" value="question3">1

       <input type="checkb
       ox" name="" value="question3">2

       <input type="checkb
       ox" name="" value="question3">3

       <input type="checkb
       ox" name="" value="question3">4

       <input type="checkb
       ox" name="" value="question3">5

   </fieldset>

     <button type="button">Next Question</button>

   </body>

   </html>
